@model IEnumerable<OnlineAdmissionPortal.Models.StudentModel>
@inject IConfiguration _config

<div ng-controller="admissionCtrl">
    <div class="container my-4" ng-init="getStudents(studentFilter)">
        <div class="row pt-4 align-items-center">
            <div class="col-md-6">
                <h4 class="text-primary" ng-click="getStudents(student)">
                    <i class="fa-solid fa-user"></i> Students
                </h4>
            </div>
            <div class="col-md-6 text-md-end text-start">
                <a asp-controller="Student" asp-action="Create" class="btn btn-primary">
                    <i class="fa-solid fa-user-plus"></i> Add Student
                </a>
            </div>
        </div>
    </div>

    <div class="border bg-white p-3 rounded shadow-sm">
        <form class="row g-2" ng-submit="studentFilter.currentPage=1;getStudents(studentFilter)">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Search Email"
                       ng-model="studentFilter.Email" ng-keyup="studentFilter.currentPage=1;getStudents(studentFilter)" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Search Phone"
                       ng-model="studentFilter.Phone" ng-keyup="studentFilter.currentPage=1;getStudents(studentFilter)" />
            </div>
            <div class="col-md-2 d-grid">
                <button type="submit" class="btn btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </button>
            </div>
            <div class="col-md-2 d-grid">
                <button type="button" class="btn btn-outline-danger"
                        ng-click="studentFilter.currentPage=1;clearFilter(studentFilter)">
                    <i class="fa-solid fa-xmark"></i> Clear
                </button>
            </div>
        </form>
    </div>

    <div class="table-responsive mt-3">
        <table class="table table-striped border">
            <thead class="table-secondary">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.FName)</th>
                    <th>@Html.DisplayNameFor(m => m.LName)</th>
                    <th>@Html.DisplayNameFor(m => m.Email)</th>
                    <th>@Html.DisplayNameFor(m => m.Phone)</th>
                    <th>@Html.DisplayNameFor(m => m.DateOfBirth)</th>
                    <th>@Html.DisplayNameFor(m => m.Address)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in studentList track by $index">
                    <td ng-bind="student.fName"></td>
                    <td ng-bind="student.lName"></td>
                    <td ng-bind="student.email"></td>
                    <td ng-bind="student.phone"></td>
                    <td>{{ student.dateOfBirth | date:'yyyy-MM-dd' }}</td>
                    <td ng-bind="student.address"></td>
                    <td>
                        <a class="btn btn-outline-info btn-sm me-2" ng-click="studentEdit(student)" title="Edit Student">
                            <i class="fa-solid fa-edit"></i>Edit
                        </a>
                        <a class="btn btn-outline-danger btn-sm" ng-click="studentDelete(student.id)" title="Delete Student">
                            <i class="fa-solid fa-trash"></i>Delete
                        </a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal for Editing Student -->
    <div class="modal fade" id="editMember" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Student</h5>
                </div>
                <div class="modal-body">
                    <form name="editForm" novalidate>
                        <div class="mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" ng-model="userDetails.fName" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" ng-model="userDetails.lName" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" ng-model="userDetails.userName" class="form-control" disabled />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-info text-white" ng-click="updateUser(userDetails)"
                            ng-disabled="editForm.$invalid">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/pagination.min.css" rel="stylesheet" />
